@page

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model WebApplication1.Pages.IndexModel

<h2>@Model.Message</h2>
<form method="post" asp-antiforgery="true">
    <p>
        <label asp-for="Person.Name">Название</label><br />
        <input type="text" asp-for="Person.Name" />
    </p>
    <p>
        <label asp-for="Person.Age">Цена</label><br />
        <input asp-for="Person.Age" />
    </p>
    <input type="submit" value="Отправить" />
</form>