<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h2>@ViewBag.Title</h2>
    <div><a href="/">Главная</a> | <a href="Movies">Список фильмов</a></div>
    <div>
        @RenderBody()
    </div>
</body>
</html>