@page
@model IndexModel
@{
    ViewData["Title"] = "Каталог фильмов";
}

<div class="text-center">
    <h1 class="display-4">Каталог фильмов</h1>
    <p><a href="Movies/Index">Перейти в каталог</a></p>
</div>
